<div class="admin-register-project-div">



  <form class="form-group" action="/admin" method="POST">
    <h2 class="made-tommy-soft-bold">Register Project</h2>
    <%- include('./partials/messages.ejs') %>

    <input class="form-control" type="text" name="projectName" placeholder="Project Name" id="projectName" value="<%= typeof projectName != 'undefined' ? projectName : '' %>" required />

    <input class="form-control" type="text" name="location" placeholder="Location" id="location" value="<%= typeof location != 'undefined' ? location : '' %>" required />

    <input class="form-control" type="text" name="projectDescription" placeholder="Project Description" id="projectDescription" value="<%= typeof projectDescription != 'undefined' ? projectDescription : '' %>" required />

    <input class="form-control" type="date" name="startDate" placeholder="Start Date Project" id="startDate" value="<%= typeof startDate != 'undefined' ? startDate : '' %>" required />

    <input class="form-control" type="date" name="endDate" placeholder="End Date Project" id="endDate" value="<%= typeof endDate != 'undefined' ? endDate : '' %>" required />

    <input class="form-control" type="text" name="projectUsername" placeholder="Project Username" id="projectUsername" value="<%= typeof projectUsername != 'undefined' ? projectUsername : '' %>" required />

    <input class="form-control" type="text" name="projectPassword" placeholder="Project Password" id="projectPassword" value="<%= typeof projectPassword != 'undefined' ? projectPassword : '' %>" required />

    <input class="form-control" type="text" name="username" placeholder="Owner Username" id="username" value="<%= typeof username != 'undefined' ? username : '' %>" required />

    <input class="form-control" type="text" name="progrestotal" placeholder="Total Project Progress" id="progrestotal" value="<%= typeof progrestotal != 'undefined' ? progrestotal : '' %>" required />

    <button type="submit" class="btn btn-dark">Register</button>

  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">projectUsername</th>
        <th scope="col">Owner Username</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <% listaccounts.forEach((listaccount,i) => { i++ %>
      <tr>
        <th scope="row"><%= i++ %></th>
        <td><%= listaccount.projectUsername %> </td>
        <td><%= listaccount.username %></td>
        <td>
          <a href="/admin/<%= listaccount.projectUsername %>" class="btn btn-success"> detail</a>
        </td>
      </tr>
      <% }) %>

    </tbody>
  </table>

  <a href="/logoutadmin" class="btn btn-success"> logout</a>

</div>
