<form class="sign-up-form" action="/admin?_method=PUT" method="POST">
  <h2 class="sign-up-heading">Edit Project</h2>
  
  <input type="hidden" name="_id" value="<%= project._id %>" />
  <input type="hidden" name="oldprojectUsername" value="<%= project.oldprojectUsername || project.projectUsername  %>" />

  <h3 class="sign-up-sub-heading"></h3>
  <label for="projectName">Project Name:</label>
  <input class="sign-up-box" type="text" name="projectName" placeholder="Nama Project" id="projectName" value="<%= project.projectName  %>" required/><br>

  <label for="location">Project Location:</label>
  <input class="sign-up-box" type="text" name="location" placeholder="Location" id="location" value="<%= project.location  %>" required/><br>
  
  <label for="projectDescription">Project Description:</label>
  <input class="sign-up-box" type="text" name="projectDescription" placeholder="Deskripsi Project" id="projectDescription" value="<%= project.projectDescription  %>"  required/><br>
  
  <label for="startDate">Project Start Date:</label>
  <input class="sign-up-box" type="date" name="startDate" placeholder="Waktu Mulai" id="startDate" value="<%= project.startDate  %>" required/><br>

  <label for="endDate">Project End Date:</label>
  <input class="sign-up-box" type="date" name="endDate" placeholder="Waktu Selesai" id="endDate" value="<%= project.endDate  %>" required/><br>

  <label for="projectUsername">Project Username:</label>
  <input class="sign-up-box" type="text" name="projectUsername" placeholder="username project" id="projectUsername" value="<%= project.projectUsername  %>" required/><br>

  <label for="projectPassword">Project Password:</label>
  <input class="sign-up-box" type="text" name="projectPassword" placeholder="password project" id="projectPassword" value="<%= project.projectPassword  %>" required/><br>

  <label for="username">Project Owner username: </label>
  <input class="sign-up-box" type="text" name="username" placeholder="username owner" id="username" value="<%= project.username  %>" required/><br>
  
  <label for="progrestotal">Project Progress Total: </label>
  <input class="sign-up-box" type="text" name="progrestotal" placeholder="dalam persen" id="progrestotal" value="<%= project.progrestotal  %>" required/><br>

  <label for="zone1">zone1: </label>
  <input class="sign-up-box" type="text" name="zone1" placeholder="zone 1" id="zone1" value="" required/><br>

  <label for="zone2">zone2: </label>
  <input class="sign-up-box" type="text" name="zone2" placeholder="zone2" id="zone2" value="" required/><br>
  
  <button type="submit" class="btn btn-dark">Ubah Data Project</button>
  
</form>