<!-- info-container -->
<div class="info-container col-2 bg-dark">

</div>


<!-- Data Pribadi -->
<div class="div-beranda col-8">
  <div class="div-data-pribadi">
    <img class="foto-profile" src="/user/uploads/<%= user.image %> " alt="">
    <a href="/edituser"><img id="icon-edit" src="images/edit.png" alt="edit"></a>
    <div class="data-pribadi utama">
      <h2 class="nama"><%= name %></h2>
      <h5 class="jabatan-terakhir"><%= jobs %> <%= company %></h5>
      <p>Batam, Kepulauan Riau, Indonesia</p>
    </div>
    <%- include('./partials/messages.ejs') %>
  </div>

  <!-- <div class="data-pribadi kiri">

    <h4>Pengalaman Kerja</h4>
    <div class="pengalaman-kerja">
      <h6 class="institusi">PT. Amati Teknologi Anagata</h6>
      <p class="durasi">1 Bulan</p>
      <p class="jabatan">Chief Operating Officer</p>
      <p class="rentang">Juli 2021 - Saat Ini</p>

      <h6 class="institusi">Terracon Consultants Inc.</h6>
      <p class="durasi">3 Bulan</p>
      <p class="jabatan">Intern</p>
      <p class="rentang">Oktober - Desember 2020</p>

      <h6 class="institusi">CV. Goldstar Alumindo Jaya</h6>
      <p class="durasi">2 Bulan</p>
      <p class="jabatan">Teknisi</p>
      <p class="rentang">Juni - Juli 2020</p>
    </div>

    <h4>Riwayat Pendidikan</h4>
    <div class="riwayat-pendidikan">
      <h6 class="institusi">Institut Teknologi Bandung (ITB)</h6>
      <p class="jabatan">Sarjana Teknik Sipil</p>
      <p class="rentang">2017 - 2021</p>

      <h6 class="institusi">SMA Yos Sudarso Batam</h6>
      <p class="jabatan">SMA, IPA</p>
      <p class="rentang">2014 - 2017</p>
    </div>

    <h4>Keterampilan</h4>
    <div class="keterampilan">
      <h6 class="institusi">Desain Tiang Pancang</h6>
      <p class="jabatan">Level: Pemula</p>
      <p class="rentang">Keterangan</p>

      <h6 class="institusi">Desain Reklamasi</h6>
      <p class="jabatan">Level: Pemula</p>
      <p class="rentang">Keterangan</p>

      <h6 class="institusi">AutoCAD</h6>
      <p class="jabatan">Level: Pemula</p>
      <p class="rentang">Keterangan</p>
    </div>

    <h4>Lowongan Kerja</h4>
    <div class="lowongan-kerja">
      <h6 class="institusi">Sedang membutuhkan pekerjaan fulltime?</h6>
      <p class="rentang">Tidak</p>
      <h6 class="institusi">Membuka jasa untuk freelance sesuai keterampilan?</h6>
      <p class="rentang">Iya</p>
    </div>

  </div> -->


  <div class="">
    <h2>Daftar Proyek Contoh</h2>
    <% listprojects.forEach((listproject) => { %>
    <div class="daftar-proyek col-12 row">
      <div class="col-2">
        <img class="logo-proyek" src="images/logo-kcic.png" alt="">
      </div>
      <div class="div-data-proyek-besar col-10">
        <div class="row">
          <h4><a href="/project/<%= listproject._id %>" class="nama-proyek text-dark">
              <%= listproject.projectName %>
            </a></h4>
          <!-- <a href="/project/<%= listproject._id %>"><img class="col-1" id="icon-edit-data-proyek" src="images/edit.png" alt="edit"></a> -->
        </div>
        <div class="row">
          <div class="div-data-proyek col-4">
            <p class="data-proyek">Rentang: <%= listproject.startDate %> - <%= listproject.endDate %></p>
            <p class="data-proyek">Lokasi: <%= listproject.projectLocation %></p>
            <p class="data-proyek">Luas: 80 Hektar</p>
          </div>
          <div class="div-data-proyek col-3">
            <p class="data-proyek">Nilai Investasi: 86,55 Triliun Rupiah</p>
            <p class="data-proyek">Owner: <%= listproject.username %></p>
            <p class="data-proyek">Konsultan: CDJO</p>
          </div>
          <div class="div-data-proyek col-2">
            <p class="data-proyek">Kontraktor: PT. WIKA</p>
            <p class="data-proyek">Anggota: 26 Orang</p>
          </div>
          <div class="div-data-proyek col-3">
            <p class="data-proyek">Jabatan Anda: <%= jobs %></p>
            <a href="/project/<%= listproject._id %>" class="btn btn-warning btn-sm"> Notifikasi</a>
            <a href="/project/<%= listproject._id %>" class="btn btn-warning btn-sm"> Link Invite</a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

</div>

<!-- Daftar Proyek Contoh -->


<!-- Javascript -->
