<table class="table">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Project Username</th>
        <td><%= listproject.projectUsername %></td>
      </tr>
      <tr>
        <th scope="row">Project Location</th>
        <td><%= listproject.location %></td>
      </tr>
      <tr>
        <th scope="row">Project Description</th>
        <td><%= listproject.projectDescription %></td>
      </tr>
      <tr>
        <th scope="row">Project Start</th>
        <td><%= listproject.startDate %></td>
      </tr>
      <tr>
        <th scope="row">Project End</th>
        <td><%= listproject.endDate %></td>
      </tr>
      <tr>
        <th scope="row">Owner Username</th>
        <td><%= listproject.username %></td>
      </tr>
      <tr>
        <th scope="row">Progress Total</th>
        <td><%= listproject.progrestotal %> %</td>
      </tr>

      <% listzonas.forEach((listzona,i) => { i++ %>
        <tr>
          <th scope="row"><%= listzona.zonename %> </th>
          <td>
            <form class="sign-up-form" action="/editdatazona" method="POST">
              <input type="hidden" name="listzonaid" value="<%= listzona._id %>">
              <button type="submit" class="btn btn-dark">Insert Project Zone</button>
            </form>
          </td>
        </tr>
      <% }) %>


    </tbody>
  </table>
  <!-- <form class="sign-up-form" action="/tambahzona" method="POST"> -->
  <form class="sign-up-form">
    <!-- ENG: tambahzona is insert zone -->
    <input type="hidden" name="projectid" value="<%= listproject._id %>">
    <input type="hidden" name="projectUsername" value="<%= listproject.projectUsername %>">
    <input class="sign-up-box" type="text" name="detailzona" placeholder="tambah zona" id="detailzona" value="" required/>
    <button type="submit" class="btn btn-dark">Insert Zone</button>
  </form>
  <!-- <form class="sign-up-form" action="/tambahtimestamp" method="POST"> -->
    <form class="sign-up-form" >
    <input type="hidden" name="projectid" value="<%= listproject._id %>">
    <input type="hidden" name="projectUsername" value="<%= listproject.projectUsername %>">
    <input class="sign-up-box" type="month" name="detailtimestamp" placeholder="tambah waktu" id="detailtimestamp" value="" required/>
    <button type="submit" class="btn btn-dark">Insert Time Parameter</button>
    <!-- ENG: tambah waktu is insert time parameter -->
  </form>

  <a href="/admin/edit/<%= listproject.projectUsername %>" class ="btn btn-danger badge"> Edit Project </a>


  <form method="POST" action="/admin?_method=DELETE">
    <input type="hidden" name="projectUsername" value="<%= listproject.projectUsername %>">
    <button type="submit" class="btn btn-danger badge" onclick="return confirm('yakin??')">Delete Project</button>
  </form>
