<form class="sign-up-form" action="/user?_method=PUT" method="POST" enctype="multipart/form-data">
  <h2 class="sign-up-heading">Edit User</h2>
  
  <input type="hidden" name="_id" value="<%= user._id %>" />
  <input type="hidden" name="oldusername" value="<%= user.oldusername || user.username  %>" />
  <input type="hidden" name="oldimage" value="<%= user.oldimage || user.image  %>" />

  <h3 class="sign-up-sub-heading"></h3>
  <label for="username">Username:</label>
  <input class="sign-up-box" type="text" name="username" placeholder="Username" id="username" value="<%= user.username  %>" required/><br>

  <label for="name">Name:</label>
  <input class="sign-up-box" type="text" name="name" placeholder="name" id="name" value="<%= user.name  %>" required/><br>

  <label for="email">email:</label>
  <input class="sign-up-box" type="text" name="email" placeholder="email" id="email" value="<%= user.email  %>" required/><br>

  <label for="company">Company:</label>
  <input class="sign-up-box" type="text" name="company" placeholder="company" id="company" value="<%= user.company  %>" required/><br>

  <label for="jobs">Your job position:</label>
  <input class="sign-up-box" type="text" name="jobs" placeholder="jobs" id="jobs" value="<%= user.jobs  %>" required/><br>

  <label for="nohp">Phone Number:</label>
  <input class="sign-up-box" type="text" name="nohp" placeholder="nohp" id="nohp" value="<%= user.nohp  %>" required/><br>

  <label for="image">Profile Picture:</label>
  <input type="file" name="image" />
  
  <button type="submit" class="btn btn-dark">Change User Data</button>
  
</form>