<section id="user-tab">
  <input type="hidden" value="<%= project._id %>" class="getProjectId">
  <div class="info-container col-2 bg-dark">
    <div class="row">
      <div class="col-1 space"> </div>
      <div class="alert info-container-ringkas col-10">
        <h5>You in this project</h5>
        <div class="row">
          <div class="col-9 div-ringkas">
            <p>Position: <%= jobs %></p>
            <p>Company: <%= company %></p>
          </div>
          <div class="div-logo col-3">
            <img class="logo" src="/project/<%= project._id %>/logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h6 class="fitur"><strong>Project Information </strong></h6>

      <div>
        <h6> Total Project Progress: </h6>
        <h3><span> <%= project.progrestotal %>% </span></h3>
      </div>
      <!-- <div>
          <h6> Pengeluaran total: </h6>
          <h6><span> dirahasiakan </span></h6>
        </div> -->


      <h6 class="fitur"><strong>Main Features</strong></h6>
      <!-- Infocontainer Button -->
      <div class="row">
        <!-- Panel Tanggal -->
        <div class="floating-panel col-lg-6">
          <strong class="font-1-rem">Timeline</strong>

          <% for (let i=0; i<monthYearTimeStampProject.length ; i++) { %>

          <input type="radio" class="btn-check" id="radio-<%=i%>" name="date" value="<%=numericValueTimeStampProject[i]%>" onclick="toggleOverlay(this)" />
          <label class="btn btn-outline-warning btn-sm btn-block time-stamp-button" for="radio-<%=i%>"><%=monthYearTimeStampProject[i]%></label>

          <% } %>



        </div>

        <div class="floating-panel col-lg-6">
          <strong class="font-1-rem">Features</strong>
          <button class="btn btn-outline-warning btn-sm btn-block toggle-client-side-input-timestamp" onclick="toggleClientSideInputTimestamp()">Input Timestamp</button>
          <button class="btn btn-outline-warning btn-sm btn-block toggle-client-side-input-projectzone" onclick="toggleClientSideInputProjectZone()">Input Project Zone</button>
          <button class="btn btn-outline-warning btn-sm btn-block toggle-client-side-input-dronedata" onclick="toggleClientSideInputDroneData()">Input Drone Data</button>
          <button class="btn btn-outline-warning btn-sm btn-block toggle-client-side-input-viewvertical" onclick="viewVertical()">View Vertical</button>
          <div class="story-openfieldphotoclient" id="story-openfieldphotoclient" value=""></div>
          <div class="view-vertical-div">
            <button type="button" class="btn btn-outline-warning btn-sm up-one-story">up</button>
            <h1 class="font-1-rem current-story">Lantai 1</h1>
            <button type="button" class="btn btn-outline-warning btn-sm down-one-story">down</button>
          </div>
          <!-- kasi button tambah story ke atas dan ke bawah-> trus masuk ke database story max dan min -->

        </div>

        <div class="client-side-input-timestamp client-side-input-timestamp-inactive floating-panel">
          <strong class="font-1-rem">Tambah Timestamp</strong>
          <form class="sign-up-form" action="/tambahtimestamp" method="POST">
            <input type="hidden" name="projectid" value="<%= project._id %>" />
            <input type="hidden" name="projectUsername" value="<%= project.username %>" />
            <label for="detailtimestamp">Bulan dan tahun :</label>
            <input class="sign-up-box" type="month" name="detailtimestamp" placeholder="tambah waktu" id="detailtimestamp" value="" required />
            <div class="btn-center">
              <button type="submit" class="btn btn-outline-warning btn-sm btn-padding">Insert Timestamp</button>
            </div>
          </form>
        </div>

        <div class="client-side-input-projectzone client-side-input-projectzone-inactive floating-panel">
          <strong class="font-1-rem">Tambah Project Zone</strong>
          <form class="sign-up-form" action="/tambahzona" method="POST">
            <input type="hidden" name="projectid" value="<%= project._id %>" />
            <input type="hidden" name="projectUsername" value="<%= project.username %>" />

            <label for="detailzona">Zone name :</label>
            <input class="sign-up-box" type="text" name="detailzona" placeholder="tambah zona" id="detailzona" value="" required />

            <label for="zoneid">Zone Id :</label>
            <input class="sign-up-box" type="text" name="zoneid" placeholder="zoneid" id="zoneid" value="" required /><br>

            <label for="zoneLat">Zone latitude :</label>
            <input class="sign-up-box" id="zoneLat" style="color:red" name="zoneLat" value="Please move the red point" />

            <label for="zoneLng">Zone longitude :</label>
            <input class="sign-up-box" id="zoneLng" style="color:red" name="zoneLng" value="Please move the red point" /><br />

            <label for="storyMax">Highest Story :</label>
            <input class="sign-up-box" id="storyMax" style="color:red" name="storyMax" value="1" /><br />

            <label for="storyMin">Lowest Story :</label>
            <input class="sign-up-box" id="storyMin" style="color:red" name="storyMin" value="1" /><br />

            <div class="btn-center">
              <button type="submit" class="btn btn-outline-warning btn-sm btn-padding">Insert Zone</button>
            </div>
          </form>
        </div>

        <div class="floating-panel input-drone-data-div input-drone-data-inactive">
          <strong class="font-1-rem">Tambah Foto Drone</strong>
          <div class="input-drone-data-criteria">
            Pastikan kriteria berikut terpenuhi :
            <li>sudah menekan tombol timeline </li>
            <li>data yang dimasukkan sesuai timeline</li>
            <li>upload zip file dengan isi zip folderzoom/coord-y/coord-x.png (<a href="" target="_blank">contoh</a>)</li>
            <li>file foto drone dalam format .png</li>
          </div>
          <form action="/tambahdroneimagesclient?_method=PUT" method="POST" class="sign-up-form" enctype="multipart/form-data">
            <input type="hidden" id="projectid" name="projectid" value="<%= project._id %>" />
            <input type="hidden" id="timestamp" name="timestamp" class="timestampOnScreen" value="" />
            <label for="droneimages"></label>
            <div class="add-drone-data-div">
              <input type="file" class="add-drone-data" name="droneimages" />
            </div>
            <div class="btn-center">
              <button type="submit" class="btn btn-outline-warning btn-sm btn-padding">Insert Drone Photo</button>
            </div>

          </form>
        </div>

      </div>
      <div class="formpopupbox"></div>

      <div class="floating-panel filter-field-photo filter-field-photo-inactive">
        <strong class="font-1-rem filter-field-photo-heading"></strong>
        <div class="btn-center">
          <div>
            <input name="zoneid" type="hidden" class="zoneid-openfieldphotoclient" value="">
            <input type="hidden" name="timestamp" class="timestamp-openfieldphotoclient" value="">
            <button class="toggle-field-photo-grid btn btn-sm btn-outline-warning col-12">All</button>
          </div>
          <div>
            <input name="zoneid" type="hidden" class="zoneid-openfieldphotoclient" value="">
            <input type="hidden" name="timestamp" class="timestamp-openfieldphotoclient" value="">
            <button class="toggle-field-photo-grid btn btn-sm btn-outline-warning col-12">Architectural</button>
          </div>
          <div>
            <input name="zoneid" type="hidden" class="zoneid-openfieldphotoclient" value="">
            <input type="hidden" name="timestamp" class="timestamp-openfieldphotoclient" value="">
            <button class="toggle-field-photo-grid btn btn-sm btn-outline-warning col-12">Structural</button>
          </div>
          <div>
            <input name="zoneid" type="hidden" class="zoneid-openfieldphotoclient" value="">
            <input type="hidden" name="timestamp" class="timestamp-openfieldphotoclient" value="">
            <button class="toggle-field-photo-grid btn btn-sm btn-outline-warning col-12">Mechanical Electrical Plumbing</button>
          </div>
        </div>
      </div>
    </div>


    <div class="floating-panel add-field-photo add-field-photo-inactive">
      <form class="sign-up-form" action="/tambahfieldphotoclient?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="projectid" name="projectid" value="<%= project._id %>" />
        <input type="hidden" id="zoneid-uploadfieldphotoclient" name="zoneid" value="" />
        <input type="hidden" id="timestamp-uploadfieldphotoclient" name="timestamp" value="" />
        <input type="hidden" id="story-uploadfieldphotoclient" name="story" value="" />
        <label for="image">Upload Field Photos :</label>
        <div class="add-field-photo-button-div">
          <input type="file" class="add-field-photo-button" name="image" multiple />
          <div class="btn-center">
            <button type="submit" class="btn btn-outline-warning btn-sm btn-padding">Insert Photos</button>
          </div>
        </div>
      </form>
    </div>

    <div class="floating-panel add-gamtek add-gamtek-inactive">
      <form class="sign-up-form" action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="projectid" name="projectid" value="<%= project._id %>" />
        <input type="hidden" id="zoneid-uploadgamtekclient" name="zoneid" value="" />
        <input type="hidden" id="timestamp-uploadgamtekclient" name="timestamp" value="" />
        <label for="image">Upload Construction Drawing :</label>
        <div class="add-gamtek-button-div">
          <input type="file" class="add-gamtek-button" name="image" multiple />
          <div class="btn-center">
            <button type="submit" class="btn btn-outline-warning btn-sm btn-padding">Insert Drawing</button>
          </div>
        </div>
      </form>
    </div>

    <div class="close-foto-gamtek-button-div">
      <button type="button" name="button" class="btn btn-outline-warning close-foto-gamtek-button">CLOSE DRAWING</button>
    </div>


    <div class="gamtek col-12" id="gamtek">
      <div class="popupgamtek" id="daftarGamtekSaya">
        <div class="filter-gamtek">
        </div>
        <div class="loopingbatasgamtek">
          <div></div> <!-- Dont delete this div row, it is used for DOM -->
        </div>
      </div>
    </div>

    <div id="anjinglah" style="display: none;">
      <div id="sceneList" class="floating-panel col-lg-12">
        <strong class="font-1-rem">Hotspots</strong>
        <ul class="scenes scenes-padding">
        </ul>

      </div>
    </div>
  </div>
</section>


<section id="viewing-tab">

  <!-- View Field Photo Grid -->
  <div class="field-photo-grid-super-div">
    <div class="field-photo-grid-div row">
    </div>
    <div class="field-photo-grid-bg">
    </div>
  </div>

  <!-- View Field Photo Fullscreen -->
  <div class="field-photo-fullscreen-super-div">
  </div>


  <!-- View Gamtek -->
  <div class="zoomoutbefore"><img class="imgzoomgamtek zoomoutgambar" id="zoomoutgamtekfs" src="/images/z2out.png"></div>
  <div class="zoominbefore"><img class="imgzoomgamtek zoomingambar" id="zoomingamtekfs" src="/images/z2in.png"></div>
  <div class="gamtekfs">
    <div class="gamtekfsshow">
    </div>
  </div>
  <!-- ENG: GAMTEK IS CONSTRUCTION DRAWING -->
  <!-- ENG : GAMBAR IS DRAWING -->
  <!-- ENG: BUKATUTUP is OPEN and CLOSE -->


  <!-- View 360 Photo -->
  <div id="bukatutup" style="display: none;">
    <div id="pano"></div>
    <!-- back panorama -->
    <img class="backpano" onclick="bukatutup()" src="/images/back.png">


    <div id="titleBar">
      <h1 class="sceneName"></h1>
    </div>


    <a href="javascript:void(0)" id="autorotateToggle">
      <img class="icon off" src="/images/play.png">
      <img class="icon on" src="/images/pause.png">
    </a>

    <a href="javascript:void(0)" id="fullscreenToggle">
      <img class="icon off" src="/images/fullscreen.png">
      <img class="icon on" src="/images/windowed.png">
    </a>

    <a href="javascript:void(0)" id="sceneListToggle">
      <img class="icon off" src="/images/expand.png">
      <img class="icon on" src="/images/collapse.png">
    </a>


    <a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
      <img class="icon" src="/images/up.png">
    </a>
    <a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
      <img class="icon" src="/images/down.png">
    </a>
    <a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
      <img class="icon" src="/images/left.png">
    </a>
    <a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
      <img class="icon" src="/images/right.png">
    </a>
    <a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
      <img class="icon" src="/images/plus.png">
    </a>
    <a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
      <img class="icon" src="/images/minus.png">
    </a>

  </div>

</section>
