  <!-- info-container -->
  <div class="info-container col-2 bg-dark">
    <!-- Info Container Ringkas -->
    <div class="row">
      <div class="col-1 space"> </div>
      <div class="alert info-container-ringkas col-10">
        <h5>Anda di Proyek Ini</h5>
        <div class="row">
          <div class="col-9 div-ringkas">
            <p>Jabatan: <%= jobs %> </p>
            <p>Perusahaan: <%= company %></p>
          </div>
          <div class="div-logo col-3">
            <img class="logo" src="/img/logo-kcic.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Menu kiri -->
    <div class="row">
      <div class="col-12">
        <a class="btn btn-outline-warning button-info-container row active" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="col-10 keterangan">
            Informasi Proyek
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-database"></i>
          </div>
          <div class="col-10 keterangan">
            Database
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-hard-hat"></i>
          </div>
          <div class="col-10 keterangan">
            Cari Pekerja
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-truck-pickup"></i>
          </div>
          <div class="col-10 keterangan container-fluid">
            Beli/Sewa Alat Berat
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-tools"></i>
          </div>
          <div class="col-10 keterangan">
            Beli Material
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-newspaper"></i>
          </div>
          <div class="col-10 keterangan">
            Berita Terkait
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-file-signature"></i>
          </div>
          <div class="col-10 keterangan">
            Tender
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-briefcase-medical"></i>
          </div>
          <div class="col-10 keterangan">
            Cek HSE
          </div>
        </a>
        <a class="btn btn-outline-warning button-info-container row disabled" href="/project/<%= project._id %>">
          <div class="col-1 logo">
            <i class="fas fa-toolbox"></i>
          </div>
          <div class="col-10 keterangan">
            Service AMATI
          </div>
        </a>

      </div>
    </div>
  </div>

  <!-- Informasi Proyek -->
  <div class="div-informasi-proyek col-9">
    <h2>Tahap: Konstruksi</h2>
    <h6>Progress Total</h6>
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" style="width: <%= project.progrestotal %>%;" aria-valuenow="<%= project.progrestotal %>" aria-valuemin="0" aria-valuemax="100"><%= project.progrestotal %> %</div>
    </div>
    <h6>Pengeluaran Total</h6>
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" style="width: 75%;" aria-valuenow="75>" aria-valuemin="0" aria-valuemax="100">dirahasiakan</div>
    </div>

    <div class="div-utama row">
      <!-- Div Peta -->
      <div class="div-peta col-7">
        <h5>AMATI kondisi Proyek</h5>
        <a href="/projectindex/<%= project.id %>"><img id="peta" src="/img/peta.png" alt=""></a>
        <div class="daftar-proyek col-12">
          <div class="div-data-proyek-besar">
            <div class="row">
              <h4>Informasi Umum</h4>
            </div>
            <div class="row">
              <div class="div-data-proyek col-3">
                <p class="data-proyek">Rentang: 16 Oktober 2015 - Masih Berlangsung</p>
                <p class="data-proyek">Lokasi: <%= project.location %></p>
                <p class="data-proyek">Luas: 80 Hektar</p>
              </div>
              <div class="div-data-proyek col-3">
                <p class="data-proyek">Nilai Investasi: 86,55 Triliun Rupiah</p>
                <p class="data-proyek">Owner: Konsorsium KCIC</p>
                <p class="data-proyek">Konsultan: CDJO</p>
              </div>
              <div class="div-data-proyek col-3">
                <p class="data-proyek">Kontraktor: PT. WIKA</p>
                <p class="data-proyek">Anggota: 26 Orang</p>
              </div>
              <div class="div-data-proyek col-3">
                <p class="data-proyek">Jabatan Anda: <%= jobs %> </p>
                <button type="button" class="btn btn-warning btn-sm" id="link-invite">Link Invite</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Div Kosong -->
      <div class="col-1">
      </div>

      <!-- Div Notifikasi -->
      <div class="div-div-notifikasi col-4">
        <h5>Notifikasi Terbaru</h5>
        <!-- Template Notifikasi -->
        <form class="comment-form bg-light" action="/projectcomment" method="POST">
          <p class="nama">Beri Komentar</p>
          <div class="row">
            <div class="col-2">
              <img class="foto-profile-comment" src="/user/uploads/<%= user.image %>" alt="">
            </div>
            <div class="col-10">
              <p class="nama"><%= user.name %> </p>
              <p><%= user.jobs %> | <%= user.company %></p>
              <input type="hidden" name="usernameid" value="<%= user._id %>" required />
              <input type="hidden" name="picture" value="<%= user.image %>" required />
              <input type="hidden" name="jobs" value="<%= jobs %>" required />
              <input type="hidden" name="company" value="<%= company %>" required />
              <input type="hidden" name="projectid" value="<%= project._id %>" required />

            </div>
            <div class="comment-box-div">
              <textarea class="comment-box" name="isicomment" placeholder="Komentar" id="isicomment" value="<%= typeof isicomment != 'undefined' ? isicomment : '' %>" wrap="soft" required></textarea>
            </div>
            <div class="submit-comment-div">
              <button type="submit" class="btn btn-dark btn-sm">Komentar</button>
            </div>
            <%- include('./partials/messages.ejs') %>
          </div>
        </form>
        <!-- Template Notifikasi sampai sini -->
        <% commentprojects.reverse().forEach((commentproject) => { %>
        <div class="div-notifikasi alert bg-light row">
          <div class="col-2">
            <img class="foto-profile-comment" src="/user/uploads/<%= commentproject.usernameid.image %> " alt="">
          </div>
          <div class="col-10">
            <a class="nama" href=""><%= commentproject.usernameid.name %> </a>
            <p class="jabatan"><%= commentproject.usernameid.jobs %> | <%= commentproject.usernameid.company %></p>
            <p class="timestamp"><%= commentproject.tanggal %>
          </div>
          <p class="keterangan"><%= commentproject.isicomment %> </p>
          <form class="reply-comment-form" method="POST" action="/comment?_method=DELETE">
            <input type="hidden" name="projectid" value="<%= project._id %>">
            <input type="hidden" name="commentprojectid" value="<%= commentproject._id %>">
            <button type="button" class="btn btn-success btn-sm reply col-3">Mark as Done</button>
            <button type="button" class="btn btn-warning btn-sm reply col-3 toggle-comment-button">Show Comment</button>
            <button type="submit" class="btn btn-danger btn-sm reply col-4">Delete Comment</button>
          </form>

          <div class="reply-comment-hidden">
            <form action="/projectcommentreply" method="post">
              <input type="hidden" name="usernameid" value="<%= user._id %>" required />
              <input type="hidden" name="picture" value="<%= user.image %>" required />
              <input type="hidden" name="jobs" value="<%= jobs %>" required />
              <input type="hidden" name="company" value="<%= company %>" required />
              <input type="hidden" name="projectid" value="<%= project._id %>" required />
              <input type="hidden" name="commentprojectid" value="<%= commentproject._id %>" required />
              <div class="row">
                <div class="col-1 foto-profile-reply-comment-div">
                  <img class="foto-profile-reply-comment" src="/user/uploads/<%= user.image %>" alt="">
                </div>
                <div class="col-10 reply-comment-box-div">
                  <textarea class="reply-comment-box" type="text" name="komentarbalasan" Placeholder="Komentar" value="<%= typeof komentarbalasan != 'undefined' ? komentarbalasan : '' %>"></textarea>
                </div>
                <div class="col-1 send-icon-div">
                  <button class="fas fa-paper-plane send-icon bg-light" type="submit"></button>
                </div>
            </form>
          </div>

          <% commentreplyprojects.forEach((commentreplyproject) => { %>
          <% if(String(commentreplyproject.commentprojectid) === String(commentproject._id)) { %>
          <div class="row reply-others-div">
            <div class="col-1 reply-others-pic-div">
              <img class="foto-profile-reply-comment" src="/user/uploads/<%= commentreplyproject.usernameid.image %>" alt="">
            </div>
            <div class="col-10 reply-others-name-div">
              <p class="nama"><%= commentreplyproject.usernameid.name %></p>
              <p class="perusahaan"><%= commentreplyproject.usernameid.jobs %> | <%= commentreplyproject.usernameid.company %></p>
            </div>
            <div class="reply-others-text-div">
              <p class="reply-others-text"><%= commentreplyproject.komentarbalasan %></p>
            </div>

          </div>
          <% } %>
          <% }) %>

        </div>
      </div>
      <!-- Template Notifikasi sampai sini -->
      <% }) %>

    </div>

  </div>
  </div>
